---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from "astro:content"
import BlogPost from '../components/BlogPost.astro'

const pageTitle = 'Blog'

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>

    <div>
        <p>
            This is where we will post any blog posts or blog series for a
            larger more in depth project or idea
        </p>

        <ul class="blog-posts">
     {
      allPosts.map((post) =>
      <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} image_url={post.data.image.url}/>
      )
      }
        </ul>
    </div>
</BaseLayout>
