---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Welcome!'
---

<BaseLayout pageTitle={pageTitle}>
    <h4>
        My friends and I always wanted a place to showcase cool ideas and
        projects so I took on the challenge of building a site to host the idea.
    </h4>
    <p>
        Each project's subject / goal will vary quite a bit from project to
        project. Some may be just a Git repo, some may be an extensive series of
        markdown articles. Regardless, I hope they are all interesting to you!
    </p>
    <h5>Personal Favorite Projects</h5>
    <ul>
        <li>
            <a href="https://github.com/KeenanKunzelman/smugglebus"
                >Smugglebus</a
            >
        </li>
    </ul>

    <p>
        If you'd like to learn more about us head over to the <a href="/about/"
            >About</a
        > section of the page
    </p>
</BaseLayout>
