---

---

<nav class="navbar">
    <ul class="navbar-nav">
        <li>
            <i class="hamb fa-solid fa-bars"></i>
        </li>
        <a href="/" class="nav-link nav-left">
            <li class="nav-item">
                <span class="link-text">Home</span>
            </li>
        </a>

        <a href="/about/" class="nav-link">
            <li class="nav-item">
                <span class="link-text">About</span>
            </li>
        </a>

        <a href="/blog/" class="nav-link">
            <li class="nav-item">
                <span class="link-text">Blog</span>
            </li>
        </a>
    </ul>
</nav>
